Source: granite
Priority: extra
Maintainer: Lucas Baudin <xapantu@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), 
 build-essential,
 pkg-config,
 cmake,
 valac,
 libvala-0.14-dev,
 libgtk-3-dev,
 gobject-introspection,
 libgirepository1.0-dev,
 gir1.2-gtk-3.0,
 gir1.2-glib-2.0,
 libtool
Standards-Version: 3.9.2
Section: libs
Homepage: http://launchpad.net/granite

Package: libgranite-dev
Section: libdevel
Architecture: any
Depends: libgranite0 (= ${binary:Version})
Description: Development files of Granite.

Package: libgranite0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: A development library for elementary development.

Package: libgranite0-dbg
Section: debug
Architecture: any
Depends: libgranite0 (= ${binary:Version}),
 ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: libgranite0
Description: Debugging symbols of granite

Package: libgranite-demo
Section: libdevel
Architecture: any
Depends: libgranite0 (= ${binary:Version})
Description: A small apps to show Granite Widgets.

