Source: granite
Priority: optional
Maintainer: Lucas Baudin <xapantu@gmail.com>
Build-Depends: cmake,
               debhelper (>= 7.0.50~),
               gobject-introspection,
               libgee-dev,
               libgirepository1.0-dev,
               libgtk-3-dev (>= 3.3.14),
               libtool,
               libvala-0.16-dev,
               pkg-config,
               valac-0.16 (>= 0.16.0)
Standards-Version: 3.9.2
Section: libs
Homepage: http://launchpad.net/granite

Package: libgranite-dev
Section: libdevel
Architecture: any
Depends: libgee-dev,
         libglib2.0-dev,
         libgranite0 (= ${binary:Version}),
         libgtk-3-dev (>= 3.3.14),
         ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Development files of Granite.

Package: libgranite0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: contractor, apport-hooks-elementary
Pre-Depends: dpkg (>= 1.15.6)
Suggests: libgranite-demo
Description: A development library for elementary development.

Package: libgranite0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libgranite0 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: libgranite0
Description: Debugging symbols of granite

Package: libgranite-demo
Section: x11
Architecture: any
Depends: libgranite0 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: A simple app to show Granite Widgets.

Package: granite-demo
Section: x11
Architecture: any
Depends: libgranite-demo, ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Dummy transitional package to libgranite-demo.
