Source: granite
Section: libs
Priority: optional
Maintainer: Devid Antonio Filoni <d.filoni@ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 8),
               gobject-introspection (>= 1.31.0-2),
               libgee-dev,
               libgirepository1.0-dev,
               libgtk-3-dev (>= 3.3.14),
               valac-0.16 (>= 0.16.1) | valac (>= 0.16.1)
Standards-Version: 3.9.3
Homepage: https://launchpad.net/granite

Package: libgranite1
Architecture: any
Depends: libgranite-common (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Recommends: apport-hooks-elementary, contractor
Description: extension of GTK+ libraries
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package contains the shared library.

Package: libgranite-dev
Section: libdevel
Architecture: any
Depends: gir1.2-granite-1.0 (= ${binary:Version}),
         libgee-dev,
         libglib2.0-dev,
         libgranite1 (= ${binary:Version}),
         libgtk-3-dev (>= 3.3.14),
         ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: extension of GTK+ libraries (development files)
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package contains the static library and header files.

Package: gir1.2-granite-1.0
Section: introspection
Architecture: any
Depends: ${gir:Depends}, ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: extension of GTK+ libraries (introspection files)
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: libgranite-common
Section: misc
Architecture: all
Depends: ${misc:Depends}
Replaces: libgranite0 (>> 0.2~)
Conflicts: libgranite0 (>> 0.2~)
Pre-Depends: dpkg (>= 1.15.6)
Description: extension of GTK+ libraries (common files)
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package contains common files needed by library.

Package: granite-demo
Section: misc
Architecture: any
Depends: libgranite1 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: extension of GTK+ libraries (demo binary)
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package contains a small demo application to show Granite Widgets.

Package: libgranite1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libgranite1 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: extension of GTK+ libraries (debugging symbols)
 Granite is an extension of GTK+. Among other things, it provides the
 commonly-used widgets such as modeswitchers, welcome screens, AppMenus,
 search bars, and more found in elementary apps.
 .
 This package contains debugging symbols.
