.WelcomeScreen
{
    background-image: none;
    background-color: #f9f9f9;
    text-shadow: 0 1 alpha (shade (#dedede, 1.35), 0.5);
}

.WelcomeScreen .main-title,
.WelcomeScreen .option-label
{
    color: #333333;
}

.WelcomeScreen .subtitle
{
    color: #8f8f8f;
}

/*
TODO: Theme buttons

.WelcomeScreen .button,
.WelcomeScreen .button:active,
.WelcomeScreen .button:hover,
.WelcomeScreen .button:active:hover,
.WelcomeScreen .button:insensitive
{

    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                       from (shade (#fff, 0.97)),
                                       to (shade (#fff, 0.93)));

    -unico-border-gradient: -gtk-gradient (linear,
                                          left top, left bottom,
                                          from (shade (#f9f9f9, 0.93)),
                                          to (shade (#f9f9f9, 0.85)));
}

.WelcomeScreen .button:active,
.WelcomeScreen .button:active:hover
{
    background-image: -gtk-gradient (linear, left top, left bottom,
                                       from (shade (#f9f9f9, 0.90)),
                                       to (shade (#f9f9f9, 0.96)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (#f9f9f9, 0.87)),
                                           to (shade (#f9f9f9, 0.88)));
}

.WelcomeScreen .button:insensitive
{
    background-image: -gtk-gradient (linear, left top, left bottom,
                                       from (shade (#fff, 0.98)),
                                       to (shade (#fff, 0.99)));
}
*/
