[Desktop Entry]
Name=Granite 7 Demo
Comment=A demo of the Granite toolkit
Exec=granite-7-demo
Icon=io.elementary.granite-7
Type=Application
NoDisplay=true
StartupWMClass=granite-7-demo
